{% extends 'searches/base.html'%}
{% load static%}

{% block content %}
<link rel="stylesheet" href="{%static 'searches/css/home33.css'%}">
<link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
<div class="para" class="text-center">
 
<div class="row" id = "classA" class="text-center" class="img-responsive" >

  <div class="overlay" class="img-responsive">
    <div class="overlay2" class="img-responsive" class="text-center">
      <h1 style="color:mediumblue; font-size: 64px; font-family: 'Dancing Script'; margin-right: 10px; " class="text-center" class="img-responsive">THE GALLA.</h1>
     
    </div>

</div>
</div>

<div class = text-center>
  
<h2 class="w3-center" style="color: mediumblue; font-size: 54px; ">How it works</h2>`
<p> The Gallery is a Collection of a wide Array of pictures from all over the world ..the 
  Gallery contains a wide number of Categories and locations </p>
  <div class="row" style="margin-bottom: 20px;" id = "classaa">
    
  <div class="col-lg-3">
  <ul class = "list-group">
    <h4>Category</h4>
  <li class="list-group-item"> Wildlife</li>
  <li class="list-group-item"> Entertainment</li>
  <li class="list-group-item"> Travel</li>
  <li class="list-group-item"> Food</li>

  </ul>
</div>
<div class="col-lg-3">
  <ul class = "list-group"  style="margin-top: 20px;">
 <h4></h4>
    <li class="list-group-item"> USA</li>
    <li class="list-group-item"> Turkey</li>
    <li class="list-group-item"> China</li>
    <li class="list-group-item"> Kenya</li>

  </ul>
</div>
<div class="col-lg-3">
  <ul class = "list-group">
    <h4>Locations</h4>
  <li class="list-group-item"> Italy</li>
  <li class="list-group-item"> Norway</li>
  <li class="list-group-item"> Spain</li>
  <li class="list-group-item"> Austria</li>

  </ul>
</div>
<div class="col-lg-3"  style="margin-top: 20px;">
  <ul class = "list-group">
<h4></h4>
  <li class="list-group-item"> Australia</li>
  <li class="list-group-item"> Canada</li>
  <li class="list-group-item"> Malta</li>
  <li class="list-group-item"> Artica</li>
  <li class="list-group-item">Ecuador</li>
  

  </ul>
</div>


</div>
</div>

</div>
<script src="{%static 'searches/js/home.js'%}"></script>
{% endblock %}

