#classA{
    background-image: url(../images/moroco.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: animate 15s ease-in-out infinite;
    background-position: center center;
    height: 500px;
    margin-top: -20px;
    text-align: center,center;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: white;
    backdrop-filter: blur(8px);
   
}
.overlay{
    /* background-color: rgba(35, 35, 51, 0.589); */
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(8px);
    height: 100%;
    width: 800px;
    margin-left: -30px;
}
.para{
    background-attachment: fixed;
    animation: animate 15s ease-in-out infinite;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-left: 40px;
    margin-right: 10px;
}
