#classA{
    background-image: url(../images/travel7.jpg);
    width: 500px;
    text-align: center,center;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: white;
}